attrs
click>=7.1.2,<7.2.0
simplejson==3.16.0

numpy>=1.24.4
numba
pandas>=1.1.0
pydantic>=2.0.0
eval_type_backport
scikit-learn>=1.3.0
scikit-fda>=0.8.0
scipy>=1.10.1

# plotting
matplotlib
plotnine
seaborn

# development
jupyterlab==1.1.4
twine==3.2.0

# testing
pytest==4.5.0
pytest-cov==2.7.1
pytest-xdist==1.28.0
pytest-benchmark==3.2.2
pytest-profiling==1.7.0
tox==3.13.2

# docs
sphinx==2.2.1
sphinx-autobuild==0.7.1
autoapi==2.0.1
