ipykernel==4.5.2
lxml==3.7.2
mock==2.0.0
nbsphinx==0.2.13
pandoc==1.0.0b2
pytest==3.0.6
pytest-flake8==0.8.1
sphinx==1.5.2
sphinx-rtd-theme==0.2.3
sphinxcontrib-napoleon==0.6.0
SQLAlchemy==1.1.5
tox==2.5.0
twine==1.8.1
xlrd==1.0.0
numpy==1.12.0
statsmodels==0.8.0rc1
