[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
eeweather = "*"
matplotlib = "*"
pandas = "*"
schema = "*"
scipy = "*"
statsmodels = "*"
sqlalchemy = "*"

[dev-packages]
black = "==18.6b4"
coverage = "*"
jupyterlab = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-spelling = "*"
tox = "*"
twine = "*"
typing = "*"
