[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pandas = "*"
eeweather = "*"
matplotlib = "<3.0.0"  # until we drop python 2 support
statsmodels = "*"
sqlalchemy = "*"
scipy = "*"


[dev-packages]

black = {version = "==18.6b4", markers="python_version >= '3.6'"}
coverage = "*"
jupyterlab = {version = "*", markers="python_version >= '3.5'"}
nbsphinx = "*"
pytest = "*"
pytest-cov = "*"
pytest-profiling = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-spelling = "*"
tox = "*"
twine = "*"
typing = "*"

# py2.7 travis build fails without these explicitly defined, but they are
# dependencies of jupyterlab. It is possible someday specifying the marker on
# jupyterlab will cascade to dependencies but currently not supported.
# See https://github.com/pypa/pipenv/issues/1705
jupyterlab-launcher = {version = "*", markers="python_version >= '3.5'"}
jupyterlab-server = {version = "*", markers="python_version >= '3.5'"}
ipython = {version = "*",  markers="python_version >= '3.5'"}
ipykernel = {version = "*",  markers="python_version >= '3.5'"}
