[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
pandas = "*"
eeweather = "*"
matplotlib = "*"
statsmodels = "*"
sqlalchemy = "*"
scipy = "*"


[dev-packages]

black = {version = "==18.6b4", markers="python_version >= '3.6'"}
pytest = "*"
coverage = "*"
pytest-cov = "*"
tox = "*"
twine = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-autobuild = "*"
typing = "*"
sphinxcontrib-spelling = "*"
